# OpenSearch Dashboards Configuration

# Version
OPENSEARCH_DASHBOARDS_VERSION=latest

# Port
OPENSEARCH_DASHBOARDS_PORT=5601

# OpenSearch Connection
# Format: '["http://host:port"]' or '["http://host1:port1","http://host2:port2"]'
OPENSEARCH_HOSTS='["http://opensearch:9200"]'

# Security
# Set to true to disable security (for development only)
DISABLE_SECURITY=false
