name: keycloak
services:
    keycloak:
        build:
            dockerfile: DockerFile.keycloak
            context: .
        ports:
        - ${KEYCLOAK_PORT:-8081}:8080
        environment:
        - KEYCLOAK_ADMIN=${KEYCLOAK_ADMIN:-admin}
        - KEYCLOAK_ADMIN_PASSWORD=${KEYCLOAK_ADMIN_PASSWORD:-changeme}
        - KEYCLOAK_IMPORT=./local-dev-realm.json
        volumes:
        - keycloak-data:/opt/keycloak/data
        command: start-dev --import-realm