name: keycloak

services:
  keycloak:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: keycloak
    environment:
      - KEYCLOAK_ADMIN=${KEYCLOAK_ADMIN:-admin}
      - KEYCLOAK_ADMIN_PASSWORD=${KEYCLOAK_ADMIN_PASSWORD:-YourStrong@Password}
    ports:
      - "${KEYCLOAK_PORT:-8081}:8080"
    volumes:
      - keycloak-data:/opt/keycloak/data
    restart: unless-stopped

volumes:
  keycloak-data:
    name: keycloak-data
